[submodule "FW/lib/Arduino-PID-Library"]
	path = FW/lib/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "FW/lib/M5Stack"]
	path = FW/lib/M5Stack
	url = https://github.com/m5stack/M5Stack.git
[submodule "FW/lib/lib-TwoWireDevice"]
	path = FW/lib/lib-TwoWireDevice
	url = https://github.com/knifter/lib-TwoWireDevice
[submodule "FW/lib/lib-tools"]
	path = FW/lib/lib-tools
	url = https://github.com/knifter/lib-tools.git
[submodule "FW/lib/lib-sht3x\\"]
	path = FW/lib/lib-sht3x\\
	url = https://github.com/knifter/lib-sht3x
