[submodule "dualpid/lib/lib-TwoWireDevice"]
	path = dualpid/lib/lib-TwoWireDevice
	url = https://github.com/knifter/lib-TwoWireDevice
[submodule "dualpid/lib/lib-soogh"]
	path = dualpid/lib/lib-soogh
	url = https://github.com/knifter/lib-soogh
[submodule "dualpid/lib/lib-tools"]
	path = dualpid/lib/lib-tools
	url = https://github.com/knifter/lib-tools
[submodule "dualpid/lib/lib-FPID"]
	path = dualpid/lib/lib-FPID
	url = https://github.com/knifter/lib-FPID
[submodule "dualpid/lib/lib-SHT3x"]
	path = dualpid/lib/lib-SHT3x
	url = https://github.com/knifter/lib-SHT3x
[submodule "dualpid/lib/lib-SprintIR"]
	path = dualpid/lib/lib-SprintIR
	url = https://github.com/knifter/lib-SprintIR

[submodule "dualpid/lib/lib-MAX31855"]
	path = dualpid/lib/lib-MAX31855
	url = https://github.com/knifter/lib-MAX31855.git
